
@import "@/assets/css/_variables.scss";
@font-face {
    font-family: "PressStart2P-Regular";
    src: url("../fonts/PressStart2P-Regular.ttf");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "PressStart2P-Regular";
    color:black;
}