
@import "@/assets/css/_variables.scss";
@font-face {
    font-family: "PressStart2P-Regular";
    src: url("../fonts/PressStart2P-Regular.ttf");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "PressStart2P-Regular";
    color:black;
}

.container{
    width: 1000px;
    height: 100vh;
    margin:auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

@media (max-width:1000px) {
    .container{
        width: 100%;
    }
}